# Лабораторне заняття №1

Джерело: https://github.com/guipsamora/pandas_exercises

### Крок 1. Імпортуємо необхідні бібліотеки (pandas)

### Крок 2. Завантажуємо дані [звідси](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Крок 3. Призначте це змінній chipo.

### Крок 4. Перегляньте перші 10 рядків у даних

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Крок 5. Яка кількість спостережень в даних (скільки рядків в таблиці)?

In [9]:
# Solution 1

4622

In [11]:
# Solution 2

4622

### Крок 6. Яка кількість стовпців в даних?

5

### Крок 7. Надрукуйте назви усіх стовпців

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Крок 8. Як датасет індексується?

RangeIndex(start=0, stop=4622, step=1)

### Крок 9. Який товар замовляли якомога частіше?

'Chicken Bowl'

### Крок 10. Скільки одиниць було замовлено для товару, який замовляли найчастіше?

761

### Крок 11. В стовпці choice_description який запис найчастіше зустрічається?

  choice_description  quantity
0        [Diet Coke]       159

### Крок 12. Скільки одиниць товару було замовлено загалом?

4972

### Крок 13. Приведіть ціну товару до типу float

#### Крок 13.a. Перевірте тип даних відповідного стовпця

#### Крок 13.b. Створіть лямбда-функцію і змініть тип даних для ціни товару із допомогою apply

#### Крок 13.c. Перевірте тип даних відповідного стовпця

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Крок 14. Яким був дохід за вказаний період?

39237.02

### Крок 15. Скільки замовлень (orders) було зроблено за цей період?

1834

### Крок 16. Яким є середній дохід з одного замовлення?

21.394231188658654

### Крок 17. Скільки різних одиниць товару було продано?

50