# Pokemon

### Вступ:

Цього разу ви створите дані самостійно


### Крок 1. Імпортуйте потрібні бібліотеки

### Крок 2. Створість словник, який виглядає як дані нижче

### Крок 3. Призначте це змінній pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Крок 4. Здається, що стовпці DataFrame розміщено в алфавітному порядку. Розташуйте стовпці в такому порядку: name, type, hp, evolution, pokedex

### Крок 5. Додайте інший стовпець place, і додайте туди що завгодно

### Крок 6. Перегляньте тип кожного стовпця