# Завдання 3-1. GroupBy

### Вступ:

GroupBy можна узагальнити як "Розділити-Застосувати-Об'єднати" (Split-Apply-Combine).

Джерело датасету: https://github.com/justmarkham.

Для кращого розуміння погляньте на [діаграму](http://i.imgur.com/yjNkiwL.png)  
### 1. Імпортуйте потрібні бібліотеки

In [45]:
import pandas as pd
import numpy as np

### 2. Імпортуйте датасет [звідси](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### 3. Призначте його змінній drinks.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks = pd.read_csv(url)

In [15]:
drinks.head(15)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN

### 4. Який континент споживає найбільше пива (в середньому по країнам)?

In [9]:
gb_cont = drinks.groupby('continent')

In [37]:
gb_cont.agg({'beer_servings': 'mean'})\
       .sort_values('beer_servings', ascending=False)\
       .reset_index()\
       .loc[0, 'continent']

'EU'

### 5. Для кожного континенту надрукуйте статистику споживання вина.

In [42]:
gb_cont.wine_servings.describe().reset_index()

  continent  count        mean        std  min   25%    50%     75%    max
0        AF   53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
1        AS   44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
2        EU   45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
3        OC   16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
4        SA   12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### 6. Надрукуйте середнє споживання алкоголю на континентах (для кожного стовпця)

In [49]:
gb_cont.agg(np.mean)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Крок 7. Надрукуйте медіану кількості споживання алкоголю на континентах (для кожного стовпця)

In [53]:
gb_cont.agg(np.median)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### 8. Надрукуйте середнє, мінімальне та максимальне значення споживання спиртних напоїв по континентам (spirit servings)

In [58]:
gb_cont.spirit_servings.describe()[['mean', 'min', 'max']]

                 mean   min    max
continent
AF          16.339623   0.0  152.0
AS          60.840909   0.0  326.0
EU         132.555556   0.0  373.0
OC          58.437500   0.0  254.0
SA         114.750000  25.0  302.0

In [65]:
drinks[['spirit_servings']]

     spirit_servings
0                  0
1                132
2                  0
3                138
4                 57
..               ...
188              100
189                2
190                0
191               19
192               18

[193 rows x 1 columns]