# Завдання 4. Фільтрування і сортування даних

Джерело даних: https://github.com/justmarkham

### Крок 1. Імпортуйте необхідні бібліотеки

### Крок 2. Імпортуйте датасет [звідси](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Крок 3. Призначте змінній chipo одержаний датафрейм.

### Крок 4.Скільки продуктів коштують більше $10.00?

1130

### Крок 5. Якою є ціна кожної одиниці товару? 
###### Надрукуйте датафрейм, у якому лише два стовпці -- item_name та item_price

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Крок 6. Відсортуйте за іменем item

              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
...                 ...         ...
186   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Крок 7. Якою була кількість найдорожчого із товарів, який було замовлено?

15

### Крок 8. Скільки разів було замовлено Veggie Salad Bowl?

18

### Крок 9. Скільки разів замовлялось більше ніж один Canned Soda?

20