# Завдання 4. Фільтрування і сортування даних

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Крок 1. Імпортуйте необхідні бібліотеки

In [13]:
import pandas as pd
import numpy as np

### Крок 2. Імпортуйте датасет [звідси](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Крок 3. Призначте змінній chipo одержаний датафрейм.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Крок 4.Скільки продуктів коштують більше $10.00?

In [16]:
chipo['price'] = chipo['item_price'].apply(lambda x: x[1:])
chipo['price'] = chipo['price'].astype(np.float)

In [17]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [20]:
chipo[chipo['price'] > 10]['item_name'].nunique()

31

### Крок 5. Якою є ціна кожної одиниці товару? 
###### Надрукуйте датафрейм, у якому лише два стовпці -- item_name та item_price

In [32]:
menu = chipo[['item_name', 'price']].drop_duplicates(ignore_index=True)

In [33]:
menu.head(5)

                               item_name  price
0           Chips and Fresh Tomato Salsa   2.39
1                                   Izze   3.39
2                       Nantucket Nectar   3.39
3  Chips and Tomatillo-Green Chili Salsa   2.39
4                           Chicken Bowl  16.98

### Крок 6. Відсортуйте за іменем item

In [37]:
menu.sort_values(by=['item_name', 'price'], ascending=True, ignore_index=True)

             item_name  price
0    6 Pack Soft Drink   6.49
1    6 Pack Soft Drink  12.98
2        Barbacoa Bowl   8.69
3        Barbacoa Bowl   8.99
4        Barbacoa Bowl   9.25
..                 ...    ...
204  Veggie Salad Bowl  11.25
205  Veggie Soft Tacos   8.49
206  Veggie Soft Tacos   8.75
207  Veggie Soft Tacos  11.25
208  Veggie Soft Tacos  16.98

[209 rows x 2 columns]

### Крок 7. Якою була кількість найдорожчого із товарів, який було замовлено?

In [44]:
chipo.sort_values(by='price', ascending=False)\
     .reset_index(drop=True)\
     .loc[0, 'quantity']

15

### Крок 8. Скільки разів було замовлено Veggie Salad Bowl?

In [46]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'])

18

### Крок 9. Скільки разів хтось замовив більше ніж один Canned Soda?

In [59]:
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)])

20